services:
  - type: web
    name: jifywigs-api
    runtime: node
    rootDir: .
    buildCommand: npm run render-build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        value: https://jifywigs.vercel.app
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: PAYSTACK_SECRET_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false